html, body, .container-fluid, .content-row {
    height: 100%;
    background-color:smoke rgb(131, 124, 124)
}

.hide {
    display: none;
}

.city-btn:hover {
    background-color: light rgb(189, 133, 242);
    cursor: pointer;
}

.card {
    background-color: rgb(208, 243, 240);
     margin-bottom: 10px; /* Added margin for spacing between forecast boxes */
    height: 100%; /* Ensure consistent height for all cards */
}

.card-body {
    height: 100%; /* Ensure content fills the card height */
}






























