html, body, .container-fluid, .content-row {
    height: 100%;
    background-color:smoke rgb(131, 124, 124)
}

.hide {
    display: none;
}

.city-btn:hover {
    background-color: light rgb(189, 133, 242);
    cursor: pointer;
}

.card {
    background-color: rgb(208, 243, 240);
}





























